.hero {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('./images/cowboy-boots-melanie-mauer.jpg');
  height: 500px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  box-shadow: 0 0 24px #4c4c4c;
}

.hero-title {
  font-family: 'Spectral SC', serif;
  font-weight: 200;
  font-size: 72px;
  margin-bottom: 0;
  text-shadow: 0 0 13px #fff;
}

.hero-subtitle {
  font-family: 'Spectral SC', serif;
  font-weight: 300;
  font-size: 24px;
  margin-top: 8px;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.form-title {
  font-family: 'Spectral SC', serif;
  font-weight: 300;
  font-size: 32px;
  color: #4c4c4c;
}

.form-subtitle {
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
}

label {
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;  
}